/*
Programmer name: Ms. Mariyam Malika Asim, TP056480, BSc. (Hons) in Computer Science, Asia Pacific University (APU), Technology Park Malaysia
Program name: app.css
Description: To provide the style for components of the website.
First written on: 28/07/2021
Edited on: 08/07/2021
 */

.userpanel{
	height: 100%;
    background: #f3f3f3;
}

.fullheight{
	height: 100%;
}

